ul {
  list-style: none;
  padding-left: 0px;
}

label, input[type='checkbox'] {
  cursor: pointer;
}

.calc {
  position: fixed;
  bottom: 0px;
  left: 0px;
  background-color: lightgray;
  width: 100%;
}

.credit {
  padding: 0 0 130px 0;
}