{% extends "layout.html.jinja2" %}

{% block content %}

{% block class_script %}
{% endblock %}

<div class="wrapper">
  <h2>総合工学科 {{ course_name }} 単位計算機</h2>
  <div style="margin: 10px 0 10px 0;">
      <a href="/" class="raised">IS</a>
      <a href="/it" class="raised">IT</a>
      <a href="/ie" class="raised">IE</a>
  </div>
  <div style="margin: 10px 0 10px 0;">
      <a href="/as_is" class="raised">AS(IS)</a>
      <a href="/as_it" class="raised">AS(IT)</a>
      <a href="/as_ie" class="raised">AS(IE)</a>
  </div>
  仙台高専 I類で、自分が選びたい選択単位で卒業単位に足りるかを確認するページです。<br>
  これまでに認定された、もしくはこれから受講する単位にチェックをつけてください。<br>
  <a href="https://syllabus.kosen-k.go.jp/Pages/PublicSubjects?school_id=07&department_id=20&year=2020&lang=ja">シラバス - 総合工学科 I類</a>
  {% if "AS" in course_name %}
    <br><a href="https://syllabus.kosen-k.go.jp/Pages/PublicSubjects?school_id=07&department_id=51&year=2020&lang=ja">シラバス - 応用科学コース</a>
  {% endif %}
  <hr>
  {% if "AS" in course_name %}
    <div class="column credit" style="padding: 0 0 180px 0;">
  {% else %}
    <div class="column credit" style="padding: 0 0 130px 0;">
  {% endif %}
    <details>
      <summary>必修科目一覧</summary>
      {% for class_credit in must_credits %}
        <h4>{{ loop.index }}年</h4>
        <ul>
          {% for credit in class_credit %}
            <li>
              {{ credit.単位数 }}単位

              {% if credit.専門 %}
                <span style="border: 1px solid; background-color: lightskyblue;">専門</span>
              {% else %}
                <span style="border: 1px solid; background-color: lightsalmon;">一般</span>
              {% endif %}

              {% if credit.学修 %}
                <span style="border: 1px solid; background-color: darkseagreen;">学修</span>
              {% else %}
                <span style="border: 1px solid;">履修</span>
              {% endif %}

              {{ credit.教科名 }}
            </li>
          {% endfor %}
        </ul>
      {% endfor %}
    </details>
    <hr>

    <form name="creditForm">
      {% block form %}
      {% endblock %}
    </form>
    <hr>
    必修科目は予めすべてカウントしています
    （内訳はページ最上部にある「必修科目一覧」をタップしてご確認ください）
  </div>

  <div class="column calc">
    {% block calc %}
    {% endblock %}
  </div>
</div>
{% endblock %}
