{% extends "main_base.html.jinja2" %}

{% block class_script %}
<script>
  select_credits = {{ select_credits|tojson }};

  function updateCount(){
    const must_general = {{ must_general }};
    const must_special = {{ must_special }};
    const must_gakushu = {{ must_gakushu }};
    let gen = must_general;
    let spe = must_special;
    let gak = must_gakushu;

    const select_credits_checkbox = document.creditForm.credits;
    for(let i = 0; i < select_credits_checkbox.length; i++) {
      if(select_credits_checkbox[i].checked) {
        const split = select_credits_checkbox[i].value.split(' ')
        const select_credit = select_credits[split[0]][split[1]]

        if(select_credit.専門) {
          spe += select_credit.単位数;
        }
        else {
          gen += select_credit.単位数;
        }
        if(select_credit.学修) {
          gak += select_credit.単位数;
        }
      }
    }

    // TODO 新規追加 資格系単位 関数分けたいけど頭働かねえ
    const allSpecials = {{specials|tojson}};
    const selectSpecials = document.creditForm.special;

    let selectSpecialsCount = 0;
    for (let i = 0; i < selectSpecials.length; i++) {
      const index = selectSpecials[i].selectedIndex;
      const value = selectSpecials[i].options[index].value;

      if (value == "-1") {
        continue;
      }

      const split = value.split(" ");
      const specialInfo = allSpecials[split[0]];
      let credits = specialInfo["grade"][split[1]]["単位数"];
      selectSpecialsCount += credits;

      if (selectSpecialsCount >= 9) {
        credits = credits - (selectSpecialsCount - 8);
      }

      if (specialInfo.専門) {
        spe += credits;
      }
      else {
        gen += credits;
      }

      if (selectSpecialsCount >= 8) {
        window.alert("特別学修は8単位まで有効です。現在" + selectSpecialsCount 
          + "単位選択されています。選択し直す場合は、現在選択されているものを一度外してください。");

        disableUnsetedSpecials();
      }
      else {
        enableUnsetedSpecials();
      }
    }

    setCalcData(gen, spe, gak);
  }

  function disableUnsetedSpecials() {
    const selectSpecials = document.creditForm.special;
    for (let i = 0; i < selectSpecials.length; i++) {
      const index = selectSpecials[i].selectedIndex;
      const value = selectSpecials[i].options[index].value;

      if (value == "-1") {
        selectSpecials[i].disabled = true;
      }
    }
  }

  function enableUnsetedSpecials() {
    const selectSpecials = document.creditForm.special;
    for (let i = 0; i < selectSpecials.length; i++) {
      selectSpecials[i].disabled = false;
    }
  }

  function setCalcData(gen, spe, gak) {
    document.getElementById("general").textContent = gen;
    if (gen >= 75) {
      document.getElementById("general").style.color = "green";
    }
    else {
      document.getElementById("general").style.color = "red";
    }

    document.getElementById("special").textContent = spe;
    if (spe >= 82) {
      document.getElementById("special").style.color = "green";
    } else {
      document.getElementById("special").style.color = "red";
    }

    document.getElementById("total").textContent = gen + spe;
    if (gen + spe >= 167) {
      document.getElementById("total").style.color = "green";
    } else {
      document.getElementById("total").style.color = "red";
    }

    document.getElementById("gakushu").textContent = gak;
    if (gak > 60) {
      document.getElementById("gakushu").style.color = "red";
    }
    else if (gak === 60) {
      document.getElementById("gakushu").style.color = "orange";
    }
    else {
      document.getElementById("gakushu").style.color = "black";
    }
  }
</script>
{% endblock %}

{% block form %}
  {# 全学年の選択を各学年分でforEachループ #}
  {% for class_credit in select_credits %}
    {# outer_index = 学年 - 1 (jsonから選択するときのindex) #}
    {% set outer_index = loop.index0 %}
    <h4>{{ loop.index }}年</h4>
    <ul>
      {# 学年のすべての選択科目class_creditから1科目ずつ取り出すforEach #}
      {% for credit in class_credit %}
        <li>
          {# id...label全体にチェックボックスのクリック判定を与えるための個別ID
             value...jsonの[split[0]][split[1]]を取り出せばその科目になる #}
          <label for="credit_clicks_{{ outer_index }}{{ loop.index0 }}">
            <input type="checkbox" name="credits" id="credit_clicks_{{ outer_index }}{{ loop.index0 }}"
                    value="{{ outer_index }} {{ loop.index0 }}" onchange="updateCount()">
            {{ credit.単位数 }}単位 

            {% if credit.専門 %}
              <span style="border: 1px solid; background-color: lightskyblue;">専門</span>
            {% else %}
              <span style="border: 1px solid; background-color: lightsalmon;">一般</span>
            {% endif %}

            {% if credit.学修 %}
              <span style="border: 1px solid; background-color: darkseagreen;">学修</span>
            {% else %}
              <span style="border: 1px solid;">履修</span>
            {% endif %}

            {{ credit.教科名 }}
          </label>
        </li>
      {% endfor %}
    </ul>
  {% endfor %}

  <details>
    <summary>特別学修 (TOEIC等資格単位) 8単位まで</summary>
    {% for special_gak in specials %}
      <p>
      {# 資格系単位のタイトル #}
      {{special_gak["title"]}}

      {# 四角形単位が一般に加算されるか、専門に加算されるかをHTML上に表示 #}
      {% if special_gak.専門 %}
        <span style="border: 1px solid; background-color: lightskyblue;">専門</span>
      {% else %}
        <span style="border: 1px solid; background-color: lightsalmon;">一般</span>
      {% endif %}
      </p>

      {# 各資格の取る/取らないを入力できるようなフォームを作成する #}
      {% set outer_index = loop.index0 %}
      <select name="special" onchange="updateCount()">
        <option value="-1" selected>取らない</option>

        {# n級など、取る資格について単位数に上限が発生する難易度を選択できるようにする #}
        {% for child_spe in special_gak["grade"] %}
        <option value="{{outer_index}} {{loop.index0}}">
          ({{child_spe["単位数"]}}単位) {{child_spe["gradeTitle"]}} ({{child_spe["対象学年"]|join(", ")}}年対象)
        </option>
        {% endfor %}

      </select>

      <br><br>
    {% endfor %}
  </details>
{% endblock %}

{% block calc %}
  <ul>
    <li><span style="background-color: lightsalmon;">一般科目</span>(75+): <span id="general" style="color: red;">{{ must_general }}</span></li>
    <li><span style="background-color: lightskyblue;">専門科目</span>(82+): <span id="special" style="color: red;">{{ must_special }}</span></li>
    {% set total = must_general + must_special %}
    <li>合計(167+): <span id="total" style="color: red;">{{ total }}</span></li>
    <li><span style="background-color: darkseagreen;">学修単位</span>(60-): <span id="gakushu" style="color: black;">{{ must_gakushu }}</span></li>
  </ul>
{% endblock %}