{% extends "layout.html" %}

{% block content %}
<script>
  select_credits = {{ select_credits|tojson }};

  function updateCount(){
    must_general = {{ must_general }};
    must_special = {{ must_special }};
    must_gakushu = {{ must_gakushu }};
    gen = must_general;
    spe = must_special;
    gak = must_gakushu;

    const select_credits_checkbox = document.creditForm.credits;
    for(let i = 0; i < select_credits_checkbox.length; i++) {
      if(select_credits_checkbox[i].checked) {
        let split = select_credits_checkbox[i].value.split(' ')
        select_credit = select_credits[split[0]][split[1]]

        if(select_credit.専門) {
          spe += select_credit.単位数;
        }
        else {
          gen += select_credit.単位数;
        }
        if(select_credit.学修) {
          gak += select_credit.単位数;
        }
      }
    }

    document.getElementById("general").textContent = gen;
    if (gen >= 75) {
      document.getElementById("general").style.color = "green"
    }
    else {
      document.getElementById("general").style.color = "red"
    }

    document.getElementById("special").textContent = spe;
    if (spe >= 82) {
      document.getElementById("special").style.color = "green"
    } else {
      document.getElementById("special").style.color = "red"
    }

    document.getElementById("total").textContent = gen + spe;
    if (gen + spe >= 167) {
      document.getElementById("total").style.color = "green"
    } else {
      document.getElementById("total").style.color = "red"
    }
    document.getElementById("gakushu").textContent = gak;
  }
</script>
<div class="wrapper">
  <h2>総合工学科 {{ course_name }} 単位計算機</h2>
  <a href="/">IS</a>
  <a href="/it">IT</a>
  <a href="/ie">IE</a>
  <div class="column credit">
    <details>
      <summary>必修科目一覧</summary>
      {% for class_credit in must_credits %}
        <h4>{{ loop.index }}年</h4>
        <ul>
          {% for credit in class_credit %}
          <li>
            {{ credit.単位数 }}単位 
            <span style="border: 1px solid;">
              {% if credit.専門 %}
                専門
              {% else %}
                一般
              {% endif %}
            </span>
            <span style="border: 1px solid;">
              {% if credit.学修 %}
                学修
              {% else %}
                履修
              {% endif %}
            </span>
            {{ credit.教科名 }}
          </li>
          {% endfor %}
        </ul>
      {% endfor %}
    </details>

    <form name="creditForm">
      {% for class_credit in select_credits %}
        {% set outer_index = loop.index0 %}
        <h4>{{ loop.index }}年</h4>
        <ul>
          {% for credit in class_credit %}
            <li>
              <input type="checkbox" name="credits" value="{{ outer_index }} {{ loop.index0 }}" onchange="updateCount()">
              {{ credit.単位数 }}単位 
              <span style="border: 1px solid;">
                {% if credit.専門 %}
                  専門
                {% else %}
                  一般
                {% endif %}
              </span>
              <span style="border: 1px solid;">
                {% if credit.学修 %}
                  学修
                {% else %}
                  履修
                {% endif %}
              </span>
              {{ credit.教科名 }}
            </li>
          {% endfor %}
        </ul>
      {% endfor %}
    </form>
  </div>

  <div class="column calc">
    <ul>
      <li>一般科目(75+): <span id="general" style="color: red;">{{ must_general }}</span></li>
      <li>専門科目(82+): <span id="special" style="color: red;">{{ must_special }}</span></li>
      {% set total = must_general + must_special %}
      <li>合計(167+): <span id="total" style="color: red;">{{ total }}</span></li>
      <li>学修単位(60-): <span id="gakushu">{{ must_gakushu }}</span></li>
    </ul>
  </div>
</div>
{% endblock %}